.display-cards > div {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 50px;
    height: 75px;
}

.display-cards div.suit {
    margin: 10px 0 0 15px;
    font-size: 2em;
}

.display-cards div.rank {
    margin: 0 0 0 20px;
}

.display-cards div.joker {
    margin: 26px 7px;
}

.display-cards div.hearts, .display-cards div.diamonds {
    color: red;
}